* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    margin: 0px;
}

.Side-bar {
    display: flex;
    min-height: 100vh;
}

.sidebar .header {
    display: block;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    width: 50%;
}

.sidebar.hide .header {
    display: none;
}

.sidebar {
    background-color: #111827;
    width: 230px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    transition: all ease-in 0.2s;
}

.sidebar.hide {
    width: 100px;
    transition: all ease-out 0.3s;
}

.main-content {
    background-color: #EEEEEE;
    flex-grow: 1;
}


.sidebar .text {
    margin-left: -40px;
    margin-top: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;

    text-align: center;

    color: #FFFFFF;
}

.sidebar .text-under {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 5px 25px 22px 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;

    text-align: center;

    color: #FFFFFF;
}

.sidebar.hide .text-under {
    display: none;
}

.sidebar .main .list-item .description {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

}

.sidebar.hide .main .list-item .description {
    display: none;
}

.sidebar .main .list-item .icon {
    margin-right: 12px;
    width: 10%;
}

.sidebar.hide .main .list-item .icon {
    margin-top: 80px;
    width: 100%;
}

.sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    box-sizing: border-box;

}


.sidebar .main .list-item:hover {
    background: #FF9900;
    transition: all ease-in;
}

/* Toogle menu */

#menu-button {
    width: 32px;
    position: absolute;
    overflow: hidden;
}

#menu-label {
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox {
    display: none;
}

#hamburger, #menu-label::after, #menu-label::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #EEEEEE;
}

#menu-label::after, #menu-label::before {
    content: "";
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu-label::before {
    top: 0;
}

#menu-label::after {
    top: 8px;
}

#hamburger {
    top: 16px;
}

#hamburger::before {
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #EEEEEE;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label::before {
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after {
    left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before {
    animation: moveUpDown 0.8s ease 0.2s forwards,
    shake 0.8s ease 0.2s forwards,
    shakedown 0.2s ease 0.8s forwards;

}

@keyframes moveUpDown {
    0% {
        top: 0;
    }
    50% {
        top: -27px;
    }
    100% {
        top: -14px;
    }
}

@keyframes shake {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakedown {
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(3deg);
    }
    90% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotate(0);
    }

}

#interface {
    width: 100%;
    background-color: #EEEEEE;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 70px;
    border-bottom: 3px solid #111827;
}

#interface .navigation .search {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    border: 2px solid #FF9900;
    border-radius: 4px;
}

#interface .navigation .search i {
    margin-right: 14px;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name {
    color: #111827;
    padding: 30px 30px 0 0px;
    font-size: 24px;
    font-weight: 700;
}

.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background-color: #FF9900;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background-color: #FF9900;
}

.overflow-auto {
    position: sticky;
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow-y: scroll;
    background: #fff;
    border-radius: 8px;
}

.overflow-auto img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.overflow-auto h5 {
    font-weight: 600;
    font-size: 14px;
}

.overflow-auto .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
    overflow-y: scroll;
    table-layout: fixed;
}

tr {
    border-bottom: 1px solid #fff;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #F9FAFB;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}


.Status p {
    background-color: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;

}

.edit a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.button {
    border-radius: 8px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1 {
    background-color: #f44336;
}

.button2 {
    background-color: green;
}

.button3 {
    background-color: #111827;
    margin-top: 45px;
    margin-right: 94px;
    float: right;
}
